<div class="container cards-container">
    <h2>Sitio con Imagenes aleatorias</h2>
    <div class="cards">
      <div class="card">
        <img src="https://source.unsplash.com/random/300x200" alt="Producto 1">
        <div class="card-body">
          <h3 class="card-title">Imagen random 1</h3>
          <p class="card-text">como podemso ver es una imagen random XD</p>
          <a href="#" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/random/300x200" alt="Producto 2">
        <div class="card-body">
          <h3 class="card-title">Imagen random 2</h3>
          <p class="card-text">como podemso ver es una imagen random XD</p>
          <a href="#" class="btn">Ver más</a>
        </div>
      </div>
      <div class="card">
        <img src="https://source.unsplash.com/random/300x200" alt="Producto 3">
        <div class="card-body">
          <h3 class="card-title">Imagen random 3</h3>
          <p class="card-text">como podemso ver es una imagen random XD.</p>
          <a href="#" class="btn">Ver más</a>
        </div>
      </div>
    </div>
  </div>